/* RecoveryPassword.css */

.recovery-password-container {
    max-width: 400px;
    margin-top: 10%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .recovery-password-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
  }
  
  .recovery-password-container form {
    display: flex;
    flex-direction: column;
  }
  
  .recovery-password-container label {
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .recovery-password-container input[type="text"],
  .recovery-password-container input[type="password"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
  }
  
  .recovery-password-container button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .recovery-password-container button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  .error-message, .success-message {
    margin-top: 10px;
    padding: 10px;
    border-radius: 3px;
  }
  
  .error-message {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
  }
  
  .success-message {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
  }
  
  .back-to-forgot-password-button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #6c757d;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .back-to-forgot-password-button:hover {
    background-color: #5a6268;
  }
  